:root{
    --main-color: #FFB500;
    --secondary-color: #351C15;
    --third-color: #7C5642;
    --white-color: #fff;
    --black-color: #000;
    --grey-color: #595959;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

@font-face {
    font-family: 'bank-gothic-medium';
    src: url('asset/fonts/bank-gothic-medium.woff2');
}
@font-face {
    font-family: 'bank-gothic-regular';
    src:url('asset/fonts/bank-gothic-regular.woff2');
}
@font-face {
    font-family: 'tomkin-medium';
    src: url('asset/fonts/tomkin-medium.woff2');
}
@font-face {
    font-family: 'tomkin-regular';
    src:url('asset/fonts/tomkin-regular.woff2');
}

/* nav bar start */

.topnav {
    background-color: var(--white-color);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content:center; 
    padding: 0 20px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.nav-list {
    display:flex;
    justify-content:center; 
    list-style:none; 
}
.nav-list-item {
    display: inline-block;
    padding: 0 10px;
}
.nav-bar {
    text-decoration: none;
    color: var(--secondary-color);
    font-family: 'tomkin-medium';
    font-size: 18px;
    padding: 0 20px;
}
.nav-bar {
    position: relative;
    display: block;
    cursor: pointer;
    padding: 8px 0;
    text-decoration: none;
  }
.nav-bar:hover{
    color: var(--black-color);
    text-decoration: none;
}
  
.nav-bar:before, a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -2px;
    /* background: #fff; */
}
  
.nav-bar:before {
    left: 0;
}
.nav-bar:after {
    right: 0;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}
  
.nav-bar:hover:before {
    background: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 5px;
    width: 100%;
    transition: width 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);
}
  
.nav-bar:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
}

/* nav bar end */

/* dropdown content start */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--white-color);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 2;
    padding: 0;
    margin: 2px 0 0 0;
    list-style: none;
    border-radius: 5px;
    font-family: 'tomkin-regular';
}
.dropdown-content a {
    color: var(--grey-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1rem;
}
.dropdown-content a:hover {
    color: var(--black-color);
}

.nav-list-item:hover .dropdown-content {
    display: block;
}


/* dropdown content end */

/* mobile nav starts */

.mob-topnav {
    /* height: 100%;
    width: 100%;
    position: relative;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: var(--white-color);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s; */
    display: none;
}
.ham {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px 20px;
    font-size: 30px;
    cursor: pointer;
    z-index: 4;
    display: none;
}
.mob-nav-list {
    display: none;;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--main-color);
    margin: 6px 0;
    transition: 0.4s;
    display: block;
    border-radius: 10px;
}
.mob-topnav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--grey-color);
    display: block;
    transition: 0.3s;
}
.mob-nav-list-item {
    list-style: none;
}
/* .mob-topnav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
} */


/* mobile nav ends */

/* media screen start */

@media screen and (max-width:750px){
    .nav-list{
        display: none;
    }
    .mob-nav-list{
        display: block;
        transition:transform 0.3s ease-in;  
        transform:translate(100%); 
        background-color: var(--white-color);
        top: 0;
        left: 0;
        position: fixed;
        z-index: 8;
        width: 100%;
        height: 100%;
        padding-top: 40px;
        transition: 0.5s;
        overflow: hidden;
    }
    .topnav {
        display: none;
    }
    .mob-topnav {
        display: block;
        transition:transform 0.5s ease-in;
        top: 0;
        left: 0;
        overflow-x: hidden;
        /* transition: 0.5s; */
    }
    .ham{
        display: block;
        z-index: 9;
        position: absolute;
    }
    /* .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: var(--main-color);
        margin: 6px 0;
        transition: 0.4s;
        display: block;;
    } */
    .nav-change{  
        transform:translate(0%);  
    }
    .change .bar1 {
        -webkit-transform: rotate(45deg) translate(8px, 3px);
        transform: rotate(45deg) translate(8px, 3px);
        position: fixed;
    }
    .change .bar2 {
        opacity: 0;
    }
    .change .bar3 {
        -webkit-transform: rotate(-45deg) translate(-8px, -3px);
        transform: rotate(-45deg) translate(8px, -3px);
        position: fixed;
    }
    .mob-dropdown-content {
        display: block;
        /* background-color: var(--white-color);
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
        z-index: 2;
        padding: 0;
        margin: 2px 0 0 0;
        list-style: none;
        border-radius: 5px; */
        font-family: 'tomkin-regular';
        font-size: 1rem;
        padding-left: 20px;
    }
    .mob-nav-bar{
        font-size: 1.5rem;
        font-family: tomkin-medium;
    }
}

/* media screen ends */

/* span animation start */

.ex-text {
    position: relative;
    color: var(--main-color);
    font-family: 'tomkin-regular';
    font-size: 1.5rem;
    cursor: pointer;
    /* transition: 0.5s;
    animation-name: span-text;
    animation-duration: 1s; */
    transition: transform 250ms;
}
.ex-text:hover {
    transform: translateX(-10px);
}
/* @keyframes span-text {
    0% {
        left: 0px;
        top: 0px;
    }
    50% {
        left: 1px;
        top: 0px;
    }
    100% {
        left: 2px;
        top: 0px;
    }
} */

/* span animation ends */

/* header */

header{
    font-family: bank-gothic-regular, sans-serif;
    background-color: var(--secondary-color);
    padding: 1rem 0;
    text-align: center;
    color: var(--white-color);
}
.logo-icon {
    max-width: 200px;
}
.ups-link {
    color: var(--main-color);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}


/* main */

/* .box {
    margin: auto 0;
    background-color: #FFB500;
} */
.sub-box {
    font-family: tomkin-regular, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--main-color);
    padding: 2rem 0;
    margin: auto 0;
    /* align-content: center; */
}
.small-boxes {
    width: 20rem;
    border-radius: .75rem;
    margin: 2rem .5rem;
    align-content: center;
}
.small-box-title {
    color: var(--main-color);
    padding: 0.75rem;
    border-radius: .75rem .75rem 0 0;
    background-color: var(--secondary-color);
    text-align: center;
    font-size: 1.25rem;
}
.small-box-text {
    padding: 1rem;
    border: 3px var(--secondary-color) solid;
    border-top: none;
    border-radius: 0 0 .75rem .75rem;
    height: 100%;
    text-align: center;
    color: var(--white-color);
    background-color: var(--third-color);
}
.small-box-text p {
    text-align: left;
}


.img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--main-color);
}
.images {
    max-width: 600px;
    margin: 30px;
    color: var(--white-color);
    text-align: center;
}
.redesign-img {
    width: 100%;
    border-radius: 5px;
    border: solid 2px var(--secondary-color);
}

/* footer */
footer {
    font-family: bank-gothic-medium, sans-serif;
    background-color: var(--secondary-color);
    padding: 1rem 0;
    text-align: center;
    color: var(--white-color);
}



@media screen and (max-width: 550px) {
    
    .logo-icon {
        max-width: 150px;
    }

    .title {
        font-size: 1.5rem;
    }
    .ups-link {
        font-size: 1.25rem;
    }

}